<script lang="ts" context="module">
  export type ArticleBasicData = {
    articles_id: number,
    title: string,
    subtitle: string,
    publish_date: string,
    image_path: string
  }

  export type ArticleData = ArticleBasicData & {
    contents: {
      header: string,
      body: string
    }[]
  };
</script>

<script lang="ts">
  import Section from "./Section.svelte";
  import DateBanner from "./ArticleBanner.svelte";

  export let data: ArticleData;
</script>

<article>
  <div class="wrapper">
    <DateBanner {data}>
      <h2>{data.title}</h2>
      <p>{data.subtitle}</p>
      {#each data.contents as section, index}
        <Section title={section.header} content={section.body} number={index + 1} />
      {/each}
    </DateBanner>
  </div>
</article>

<style lang="scss">
  article {
    background-color: var(--background);
  }
  
  .wrapper {
    display: flex;
    width: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
</style>