<script lang="ts">
  import DateBanner from "./ArticleBanner.svelte";
  import { base } from '$app/paths';
  import { type ArticleBasicData } from "./Article.svelte";

  export let data: ArticleBasicData;
</script>

<section>
  <DateBanner {data}>
    <h2>{data.title}</h2>
    <p>{data.subtitle}</p>
  </DateBanner>
  <div class="separator">
    <div class="line"></div>
    <a href={`${base}/article?id=${data.articles_id}`} data-sveltekit-reload>Read more</a>
  </div>
</section>

<style>
  section {
    margin-bottom: 3rem;
  }

  .separator {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .line {
    flex-grow: 1;
    border-top: 1px solid var(--separator-color);
  }

  a {
    background-color: var(--accent);
    border: none;
    height: 1.75rem;
    text-transform: uppercase;
    color: black !important;  
    font: var(--alt-font);
    font-weight: 700;
    font-size: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.4s;
  }

  a:hover {
    background-color: white;
  }
</style>