<script lang="ts">
  import { type ArticleBasicData } from "./Article.svelte";

  export let data: ArticleBasicData;
  let date = new Date(data.publish_date);

  const months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'];
</script>

<img src={data.image_path} alt={data.title} loading="lazy"/>
<div class="banner">
  <div class="date">
    <div class="day">{date.getDate()}</div>
    <span class="month">{months[date.getMonth()]}</span>
    <div class="line"></div>
  </div>
  <div class="main">
    <slot />
  </div>
</div>

<style lang="scss">
  img {
    width: 100%;
    height: 20rem;
    display: block;
    object-fit: cover;
  }

  .banner {
    border-top: var(--accent) 4px solid;
    display: flex;
    flex-direction: row;
  }

  .date {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    align-items: center;
    flex-shrink: 0;
    width: 3.5rem;

    .day {
      width: 100%;
      height: 4.5rem;
      background-color: var(--accent);
      color: black;
      display: flex;
      align-items: end;
      justify-content: center;
      font-size: 2em;
    }

    .month {
      text-align: justify;
      text-transform: uppercase;
      font-size: 1em;
      margin: 7px 0 7px 0;
      letter-spacing: 12px;
      margin-right: -12px;
    }

    .line {
      height: 3px;
      width: calc(100% - 5px);
      background-color: #333;
    }
  }

  .main {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
  }
</style>