<script lang="ts">export let title: string;
  export let content: string;
  export let number: number;

  const numbers = ['0️⃣', '1️⃣', '2️⃣', '3️⃣', '4️⃣', '5️⃣', '6️⃣', '7️⃣', '8️⃣', '9️⃣'];
  let numberString = '';
  $: {
    numberString = '';
    let num = Math.floor(number);
    while (num > 0) {
      numberString = numbers[num % 10] + numberString;
      num = Math.floor(num / 10);
    }
  }
</script>

<h3>{numberString}&nbsp;{title}</h3>
{#each content.split('\n') as paragraph}
  <p>{paragraph}</p>
{/each}

<style>
  h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
</style>