<script lang="ts" context="module">
  import { finishResourceLoad, startResourceLoad } from "./components/LoadingScreen.svelte";

  const apiPort = 80;
  const apiPath = '/LevelAcademy/server/api';
  let apiURL: string;

  export class FetchError extends Error {
    public errorCode: ErrorCode;
    public errorMessage: string | null;

    constructor(method: string, endpoint: string, status: number, error: ErrorCode, message: string | null) {
      super(`Failed to ${method} '${endpoint}' with status ${status}. Error: ${error}${message ? `, message: ${message}` : ''}`);
      this.errorCode = error;
      this.errorMessage = message;
    }

    public static async construct(method: string, response: Response): Promise<FetchError> {
      try {
        const {error, message} = await response.json();
        return new FetchError(method, response.url, response.status, error, message);
      } catch (ex) { }
      return new FetchError(method, response.url, response.status, 'Unknown', null);
    }
  }

  export type HTTPMethod = 'GET' | 'POST';

  export type ErrorCode = 
    'Unknown' |
    'BadHTTPMethod' |
    'InvalidValue' |
    'MissingValue' |
    'NotFound';

  type Body<T extends HTTPMethod> = T extends 'GET'
    ? never
    : T extends 'POST'
    ? Blob | object
    : never;

  export function encodeQuery(object: object): string {
    let query = '?';
    let first = true;
    for (const key in object) {
      if (!first) {
        query += '&';
      }
      first = false;
      query += `${key}=`;
      let value = (object as any)[key];
      if (Array.isArray(value)) {
        query += `[${value}]`;
      } else {
        query += `${value}`;
      }
    }
    return query;
  }
  
  export async function queryAPI<Method extends HTTPMethod>(endpoint: string, method: Method, query: string | null = null, body: Body<Method> | null = null, countToLoad = true): Promise<Response> {
    try {
      if (countToLoad) {
        startResourceLoad();
      }
      const url = `${apiURL}${apiPath}${endpoint}.php${query ?? ''}`;
      const response = await fetch(url, {
        method: method,
        body: body ? (body instanceof Blob ? body : JSON.stringify(body)) : undefined
      });
      if (response.ok) {
        return response;
      } else {
        throw await FetchError.construct(method, response);
      }
    } finally {
      if (countToLoad) {
        finishResourceLoad();
      }
    }
  }
</script>

<script lang="ts">
  import { onMount } from "svelte";

  onMount(() => {
    let url = new URL(document.URL);
    apiURL = `${url.protocol}//${url.hostname}:${apiPort}`;
  });
</script>