<script lang="ts">
  import { currentPath, paths } from "$lib/pageHelper";

  export let title: string;
  export let style = '';
</script>

<div class="main" style={style}>
  <div class="inner">
    <h1>{title}</h1>
    <nav>
      {#each $currentPath as page, index}
        {@const text = page.alias ?? page.page}
        {#if index === 0}
          <span>{text}</span>
        {:else}
          <a href={paths[page.page]} data-sveltekit-reload>{text}</a>
        {/if}
      {/each}
    </nav>
  </div>
</div>

<style lang="scss">
  .main {
    margin-top: calc(var(--header-height-large) * -1);
    padding-top: var(--header-height-large);
    margin-bottom: calc(var(--divider-height) * -1);
    padding-bottom: calc(var(--divider-height) / 2);
    height: calc(var(--header-height-large) + var(--divider-height) + 10rem);
    box-sizing: border-box;
  }

  .inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--max-content-width);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--alt-font);
    letter-spacing: 3px;
    font-size: 0.625rem;
    font-weight: 400;
    text-transform: uppercase;
    flex-grow: 1;

    > * {
      white-space: nowrap;
    }
  }

  a {
    color: var(--accent);

    &::after {
      color: white;
      content: '/';
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
</style>