<script lang="ts" context="module">
  import { writable } from "svelte/store";
  
  export const showDivider = writable(true);
</script>

<script lang="ts">
  import SocialMediaIcon from "./SocialMediaIcon.svelte";
  import DividerBottom from "./DividerBottom.svelte";

  const socialMedia: { icon: string; url: string }[] = [
    {
      icon: '<i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>',
      url: "https://www.facebook.com/levelacademymt",
    },
    {
      icon: '<i class="fa-brands fa-twitter" style="color: #ffffff;"></i>',
      url: "https://twitter.com/levelacademygg",
    },
    {
      icon: '<i class="fa-brands fa-youtube" style="color: #ffffff;"></i>',
      url: "https://www.youtube.com/channel/UCO4kk2c14co1dqZOV03XEYg",
    },
    {
      icon: '<i class="fa-brands fa-instagram" style="color: #ffffff;"></i>',
      url: "https://www.instagram.com/levelacademymalta/",
    },
    {
      icon: '<i class="fa-brands fa-discord" style="color: #ffffff;"></i>',
      url: "https://discord.gg/mG4ZFPM",
    },
  ];

</script>

{#if $showDivider}
  <DividerBottom color="var(--background-dark)" />
{/if}
<footer>
  <div class="container">
    <div class="text">&#169; Copyright 2023 - Level Academy </div>
    <ul>
      {#each socialMedia as icon}
      <li>
        <SocialMediaIcon url={icon.url}>{@html icon.icon}</SocialMediaIcon>
      </li>
      {/each}
    </ul>
  </div>
</footer>

<style>
  footer {
    background-color: var(--background-dark);
    color: #ccc;
    height: var(--footer-height);
  }

  .container {
    width: calc(100vw - 10rem);
    height: 100%;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    border-top-color: var(--background-dark);
    display: flex;
    align-items: center;
  }

  .text {
    width: 50%;
    float: left;
    color: #fff;
    font-family: var(--alt-font);
    font-size: small
  }

  ul {
    display: flex;
    list-style-type: none;
    float: right;
    width: 50%;
    color: white;
    justify-content: end;
  }

  li {
    margin-right: 1rem;
  }
</style>