<script lang="ts" context="module">
  export let allowTransparent = writable(true);
</script>

<script lang="ts">
  import SocialMediaIcon from "./SocialMediaIcon.svelte";
  import { currentPage, paths, type Page } from "../../pageHelper";
  import logo from "$lib/images/logoConcept1.svg";
  import { writable } from "svelte/store";

  const socialMedia: { icon: string; url: string }[] = [
    {
      icon: '<i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>',
      url: "https://www.facebook.com/levelacademymt",
    },
    {
      icon: '<i class="fa-brands fa-twitter" style="color: #ffffff;"></i>',
      url: "https://twitter.com/levelacademygg",
    },
    {
      icon: '<i class="fa-brands fa-youtube" style="color: #ffffff;"></i>',
      url: "https://www.youtube.com/channel/UCO4kk2c14co1dqZOV03XEYg",
    },
    {
      icon: '<i class="fa-brands fa-instagram" style="color: #ffffff;"></i>',
      url: "https://www.instagram.com/levelacademymalta/",
    },
    {
      icon: '<i class="fa-brands fa-discord" style="color: #ffffff;"></i>',
      url: "https://discord.gg/mG4ZFPM",
    },
  ];

  const links: { page: Page, name?: string }[] = [
    {
      page: 'Home'
    },
    {
      page: 'Tournaments'
    },
    {
      page: 'Articles'
    },
    {
      page: 'Summer Camp',
      name: 'Inside out summer camp 2023'
    }
  ];

  let small = false;

  function onScroll(): void {
    small = window.scrollY > 100;
  }
</script>

<svelte:window on:scroll={onScroll} />

<header class:small>
  <div class="container" class:transparent={$allowTransparent}>
    <div class="social-media">
      <div class="header-wrapper">
        {#each socialMedia as icon}
          <SocialMediaIcon url={icon.url}>{@html icon.icon}</SocialMediaIcon>
        {/each}
      </div>
    </div>
    <div class="main">
      <div class="header-wrapper">
        <a href="/" class="logo" data-sveltekit-reload>
          <img src={logo} alt="Level Academy"/>
        </a>
        <div class="spacer"></div>
        <nav>
          {#each links as link}
            <a href={paths[link.page]} class:selected={$currentPage === link.page} data-sveltekit-reload>{link.name ?? link.page}</a>
          {/each}
        </nav>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  $social-media-height: 2.75rem;

  header {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header-height-large);
    z-index: 100;
    transition: padding-bottom 0.3s;
    box-sizing: border-box;

    &.small {
      padding-bottom: calc(var(--header-height-large) - var(--header-height-small));
    }
  }

  .container {
    height: 100%;
    background-color: var(--background);
    transition: background-color 0.3s;

    &.transparent {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .small & {
      border-bottom: 1px solid var(--separator-color);
      background-color: var(--background);
    }
  }

  .social-media {
    height: $social-media-height;
    border-bottom: 1px solid var(--separator-color);

    .small & {
      display: none;
    }

    .header-wrapper {
      justify-content: end;

      :global(i) {
        display: flex;
        justify-content: center;
        align-items: center;

        transition: ease-in-out 200ms;
      }

      :global(i:hover) {
        background-color: var(--accent);
      }
    }
  }

  .main {
    height: calc(var(--header-height-large) - $social-media-height);

    .small & {
      height: var(--header-height-small);
    }
  }

  .header-wrapper {
    height: 100%;
    width: calc(100% - 6rem);
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .logo,
  .logo > img {
    height: 100%;
    aspect-ratio: 1;
  }

  .spacer {
    flex-grow: 1;
  }

  nav {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  nav > a {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 65%;
    font-family: var(--alt-font);
    font-weight: 400;
    transition: color 0.25s ease-out;

    &:not(:last-child)::after {
      $full-size: 0.7rlh;
      $size-percent: 0.75;
      $margin: 1rem;
      content: "●";
      color: var(--accent);
      margin-left: $margin;
      margin-right: $margin;
      font-size: $full-size * $size-percent;
      position: relative;
      top: -$full-size * (1 - $size-percent) * 0.5;
    }

    &:hover,
    &.selected {
      color: var(--accent);
    }
  }
</style>
