<script>
</script>

<div class="navbarContainer">
    <a href="/" class="siteChange" data-sveltekit-reload> 'faAngleDoubleLeft' </a>

    <a href="/" class="mainSite" data-sveltekit-reload> 'faHouse' </a>

    <a href="/" class="siteChange" data-sveltekit-reload> 'faAngleDoubleRight' </a>
</div>

<style>
    .navbarContainer {
        width: 100%;
        height: 50px;

        min-width: 310px;
        min-height: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;

        color: white;
    }
    .siteChange {
        width: 40%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #0d0d0d;
    }
    .mainSite {
        width: 20%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .siteChange,
    .mainSite {
        transition: 200ms ease-in-out;
    }

    .siteChange:hover,
    .mainSite:hover {
        background-color: white;
        color: #fb5304;
    }
</style>
