<h2 class="sectionHeader"><slot /></h2>

<style>
  .sectionHeader {
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 300;
    width: 100%;
    height: 10vh;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  @media only screen and (width <= 800px) {
    .sectionHeader {
      padding: 3vh;
      width: 90%;
      margin-bottom: 3vh;
    }
  }
</style>
