<script lang="ts">
  export let icon: string = "";
  export let title: string = "";
  export let content: string = "";
</script>

<div class="card">
  <div class="icon">{icon}</div>
  <div>
    <div class="title">{title}</div>
    <div class="content">{content}</div>
  </div>
</div>

<style>
  .card {
    width: 30%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.8;
    color: var(--text-darker);
  }
  .title {
    color: var(--accent);
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
  }
</style>
