<script lang="ts">

  import SectionHeader from "../../Common/SectionHeader.svelte";
  import Separator from "../../Common/Separator.svelte";
  import Card from "./Card.svelte";

  const cards = [{ icon: "", content: "", title: "Sex" }];
</script>

<section id="OurOffer" class="home-section">
  <div class="wrapper">
    <SectionHeader>WHAT WE OFFER & OUR COURSES</SectionHeader>
    <Separator></Separator>

    <div class="container">
      {#each cards as card}
        <Card {...card}></Card>
      {/each}
    </div>
  </div>
</section>

<style>
  #OurOffer {
    height: 30vh;
    background: var(--background);
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
  }
</style>
