<script lang="ts">
  import "./styles.css";
  import Header from "$lib/components/Common/Header.svelte";
  import LoadingScreen from "$lib/components/LoadingScreen.svelte";
  import Footer from "$lib/components/Common/Footer.svelte";
  import ReturnButton from "$lib/components/ReturnButton.svelte";
  import ApiHelper from "$lib/APIHelper.svelte";
</script>

<ApiHelper />

<svelte:head>
  <link
    rel="stylesheet"
    data-purpose="Layout StyleSheet"
    title="Web Awesome"
    href="/css/app-wa-8106c2e05ae3cd7bfbb686f33d73a923.css?vsn=d"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
  />

  <link
    rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
  />
</svelte:head>
<Header />
<main>
  <slot />
</main>
<Footer />
<LoadingScreen />
<ReturnButton />

<style>
  main {
    overflow-x: clip;
    min-height: calc(100vh - var(--header-height-large) - var(--footer-height) - var(--divider-height));
  }
</style>
