<script lang="ts">
  import WhatWeDo from "$lib/components/HomePage/WhatWeDo/WhatWeDo.svelte";
  import GoingAFK from "$lib/components/HomePage/GoingAFK/GoingAFK.svelte";
  import DividerTop from "$lib/components/Common/DividerTop.svelte";
  import DividerBottom from "$lib/components/Common/DividerBottom.svelte";
  import Pillars from "$lib/components/HomePage/Pillars/Pillars.svelte";
  import WhatWeOffer from "$lib/components/HomePage/WhatWeOffer/WhatWeOffer.svelte";
  import Carousel from "$lib/components/HomePage/Carousel/Carousel.svelte";
  import { currentPath } from "$lib/pageHelper";
  import { allowTransparent } from "$lib/components/Common/Header.svelte";

  $currentPath = [{
    page: 'Home'
  }];

  $allowTransparent = false;
</script>

<svelte:head>
  <title>Level Academy - Malta's first esports academy</title>
</svelte:head>

<Carousel />
<WhatWeDo />
<DividerTop />


<Pillars />

<DividerBottom />
<WhatWeOffer />
<DividerTop />


<GoingAFK />