@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background: #18191b;
  --background-dark: #0b0b0b;
  --accent-rgb: 251, 83, 4;
  --accent: rgb(var(--accent-rgb));
  --sectionPadding: 10vh;
  --sectionPadding: 13vh;
  --text-darker: #ddd;
  --header-height-large: 7.75rem;
  --header-height-small: 4.5rem;
  --footer-height: 5rem;
  --divider-height: 90px;
  --max-content-width: 1100px;
  --main-font: "Dosis", Arial, Helvetica, sans-serif;
  --alt-font: "Open Sans", Arial, Helvetica, sans-serif;
  --separator-color: rgba(255, 255, 255, 0.15);
  font-family: var(--main-font);
  font-weight: 300;
  color: white;
}

@media only screen and (width <= 800px) {
  :root {
    --divider-height: 45px;
  }
}

p {
  font-family: var(--alt-font);
  font-weight: unset;
  font-size: 0.8em;
  color: var(--text-darker);
  line-height: 160%;
}

body {
  margin: 0;
  background-color: var(--background);
  background-image: url("http://levelacademy.com.mt/wp-content/uploads/2022/03/level-academy-banner-orange-blur.jpg?id=1685");
  background-attachment: fixed;
  width: 100vw;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}


.home-section {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}