<script lang="ts">
  import { onDestroy, onMount } from "svelte";

  // TODO: Fetch items from the API once we have one.
  import summerCamp from "$lib/images/Brand_Book_1-1024x576.png";
  import tournaments from "$lib/images/banner-for-portfolio-1024x576.jpg";

  const carouselItems: {title: string, image: string}[] = [
    {title: 'Summer camp 2023', image: summerCamp},
    {title: 'Tournaments', image: tournaments}
  ];

  let index1 = 0;
  let index2 = 1;
  let fadeText = false;
  let interval: number;

  let textIndex1 = 0;
  let textIndex2 = 1;

  function goToNextImage(): void {
    index1 = incrementIndex(index1);
    index2 = incrementIndex(index2);
  }

  function goToNextText(): void {
    textIndex1 = incrementIndex(textIndex1);
    textIndex2 = incrementIndex(textIndex2);
    fadeText = true;
  }

  function incrementIndex(index: number): number {
    if (index < carouselItems.length - 1) {
      return index + 1;
    } else {
      return 0;
    }
  }

  onMount(() => {
    interval = setInterval(goToNextText, 5000);
  });

  onDestroy(() => {
    clearInterval(interval);
  });
</script>

<section class="home-section">
    <div class="carousel" class:fade-text={fadeText}>
        <img src={carouselItems[index1]?.image} alt={carouselItems[index1]?.title} class="first" on:animationiteration={goToNextImage}>
        <img src={carouselItems[index2]?.image} alt={carouselItems[index2]?.title} class="second">
        <div class="text1" on:animationend={() => fadeText = false}>
          {carouselItems[textIndex1]?.title}
        </div>
        <div class="text2">
          {carouselItems[textIndex2]?.title}
        </div>
        <div class="button-container">
          <a href="#courses" data-sveltekit-reload>
            Go to
          </a>
        </div>
    </div>    
</section>

<style lang="scss">
  @keyframes scroll-first {
    0% {
      margin-left: 0%;
    }
    100% {
      margin-left: -100%;
    }
  }

  @keyframes scroll-second {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 0%;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .carousel {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: calc(var(--header-height-large) * -1);

    > * {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  $scroll-animation: 20s linear infinite;

  img {
    filter: brightness(40%);
    object-fit: cover;
  }

  .first {
    animation: scroll-first $scroll-animation;
  }

  .second {
    animation: scroll-second $scroll-animation;
  }

  .text1, .text2, .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--header-height-large);
    box-sizing: border-box;
  }

  .text1, .text2 {
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  $text-animation: 0.5s ease-in forwards;

  .text1 {
    opacity: 0;

    .fade-text & {
      animation: fade-out $text-animation;
    }
  }

  .text2 {
    opacity: 1;

    .fade-text & {
      animation: fade-in $text-animation;
    }
  }

  .button-container {
    padding-top: 15rem;
  }

  a {
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    transition: all 0.25s ease-out;
    text-transform: uppercase;
    font-family: var(--alt-font);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 2.75rem;

    &:hover {
      background-color: white;
      color: black;
    }
  }
</style>