<script>
  import SectionHeader from "$lib/components/Common/SectionHeader.svelte";
  import PostersBlock from "./PostersBlock.svelte";

  const tournaments = [
    {
      image: "./smashTournament.jpeg",
      title: "Super Smash Bros Ultimate",
      dates: "Saturday 24th June @ 10:30AM",
      format: " Double Elim",
      location: "Level Academy",
      entryFee: "€10",
      registrationLink:
        "https://docs.google.com/forms/d/e/1FAIpQLScyaMGSzRGk9vnh5JTiHvChmqO4BsqvfHCAPem5O6s44sMoSw/viewform",
    },
    {
      image: "./smashTournament.jpeg",
      title: "Super Smash Bros Ultimate",
      dates: "Saturday 24th June @ 10:30AM",
      format: " Double Elim",
      location: "Level Academy",
      entryFee: "€10",
      registrationLink:
        "https://docs.google.com/forms/d/e/1FAIpQLScyaMGSzRGk9vnh5JTiHvChmqO4BsqvfHCAPem5O6s44sMoSw/viewform",
    },
  ];
</script>

<section class="advertSection" id="AFKseries">
  <div class="wrapper">
    <SectionHeader>Tournament Registration</SectionHeader>
    <div class="advertContent">
      <h3>
        The <strong>GamingMalta Spring Series</strong> is being
      </h3>
      <h3>brought to you thanks to the support and</h3>
      <h3>collaboration of:</h3>
    </div>
    <div class="advertImage">
      <img
        src="https://levelacademy.com.mt/wp-content/uploads/2021/07/gmlogopng-300x175.png"
        alt="GamingMalta"
      />
    </div>
    <div class="postersContainer">
      {#each tournaments as tournament}
        <PostersBlock {...tournament}></PostersBlock>
      {/each}
    </div>
  </div>
</section>

<style>
  .advertSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #18191b;

    height: fit-content;

    color: #eceff3;

    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
  }

  .advertContent {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    letter-spacing: 3px;

    margin-bottom: 2vh;
  }

  .advertContent h3 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .advertImage {
    display: flex;
    justify-content: center;

    margin-bottom: 5vh;
  }

  .postersContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
