<script lang="ts">
    export let image: string;
    export let title: string;
    export let dates: string;
    export let format: string;
    export let location: string;
    export let entryFee: string;
    export let registrationLink: string;
</script>

<div class="poster">
    <img src={image} alt="PosterDefault" />

    <p><strong>{title}</strong></p>
    <p>Dates: {dates}</p>
    <p>Format: {format}</p>
    <p>Location: {location}</p>
    <p>Entry fee: {entryFee}</p>

    <a href={registrationLink} data-sveltekit-reload>Register</a>
</div>

<style>
    p {
        margin: 0;
    }

    a {
        padding: 13px 19px 13px 19px;
        background-color: rgba(0, 0, 0, 0);

        border: 2px solid white;
        border-radius: 10px;

        margin-top: 2vh;

        transition: 200ms ease-in-out;

        cursor: pointer;

        font-weight: 400;

        width: fit-content;
    }

    a:hover {
        background-color: white;
        color: gray;
    }

    .poster {
        width: 555px;
        padding: 0 15px 0 15px;

        font-family: "Open Sans", Arial, Helvetica, sans-serif;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        text-align: center;
    }

    .poster img {
        object-fit: cover;
        width: 100%;
    }
</style>
