<script lang="ts">
  export let title: string;
  export let description: string;
  export let rtl: boolean;
</script>

<div class:rtl={rtl} class="main">
  <div class="icon">
    <slot />
  </div>
  <div class="title">
    <h3>{title}</h3>
    {description}
  </div>
</div>

<style lang="scss">
  .main {
    display: flex;
    flex-direction: row;
    color: white;
    flex: 1 1 0;
    gap: 1rem;

    &.rtl {
      text-align: right;
    }
  }

  $icon-size: 5rem;

  .icon, .icon :global(*) {
    width: $icon-size;
    height: $icon-size;
  }

  .title {
    order: 1;

    .rtl & {
      order: 0;
    }
  }

  .icon {
    order: 0;

    .rtl & {
      order: 1;
    }
  }

  h3 {
    text-transform: uppercase;
    color: var(--accent);
    font-weight: 400;
  }
</style>