<script lang="ts">
    export let title: string;
    export let backgroundImage: string;
    export let url: string;
</script>

<a href={url} data-sveltekit-reload>
  <img src={backgroundImage} alt={title}>
  <div class="cover"></div>
  <div class="text">
    {title}
  </div>
</a>

<style lang="scss">
  a {
    position: relative;
    overflow-y: hidden;
    overflow: hidden;
  }

  img {
    width: 100%;
    transform: scale(1);
    transition: all 1s;
    margin-bottom: -4px;

    :hover & {
      transform: scale(1.25);
    }
  }

  .cover, .text {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .cover {
    top: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .text {
    pointer-events: none;
    font-family: var(--alt-font);
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    top: 30%;
    transition: all 0.6s;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    :hover & {
      top: 0;
      opacity: 1;
    }
  }
</style>