<script lang="ts">
  import Card from "./Card.svelte";
  import SectionHeader from "../Common/SectionHeader.svelte";
  import Separator from "../Common/Separator.svelte";
  import Course from "./Course.svelte";

  let showActive = false;

  // TODO: Remove placeholder courses
  const courses: {title: string, backgroundImage: string, isActive: boolean, url: string}[] = [
    {title: 'sussy gathering', backgroundImage: 'https://i.kym-cdn.com/photos/images/newsfeed/001/966/661/fb8', isActive: true, url: '/'},
    {title: 'sussy gathering', backgroundImage: 'https://i.kym-cdn.com/photos/images/newsfeed/001/966/661/fb8', isActive: true, url: '/'},
    {title: 'sussy gathering', backgroundImage: 'https://i.kym-cdn.com/photos/images/newsfeed/001/966/661/fb8', isActive: true, url: '/'},
    {title: 'unsupicious gathering', backgroundImage: 'https://nationalzoo.si.edu/sites/default/files/animals/damaralandmolerat-001.jpg', isActive: false, url: '/'},
    {title: 'unsupicious gathering', backgroundImage: 'https://nationalzoo.si.edu/sites/default/files/animals/damaralandmolerat-001.jpg', isActive: false, url: '/'},
    {title: 'unsupicious gathering', backgroundImage: 'https://nationalzoo.si.edu/sites/default/files/animals/damaralandmolerat-001.jpg', isActive: false, url: '/'},
  ];

  const activeCourses = courses.filter(value => value.isActive);
</script>

<section id="WhatWeOffer" class="home-section">
  <div class="wrapper">
    <SectionHeader>What we offer & our courses</SectionHeader>
    <Separator />
    <div class="cards">
      <!-- TODO: Get proper icons -->
      <Card title="Tournaments" description="Variety of tournaments with prize pools or trophies on the line." rtl={false}>
        <img src="https://images.goodsmile.info/cgm/images/product/20220720/12997/103819/large/d19d4544949cafd8bc6326578a772132.jpg" alt="">
      </Card>
      <Card title="Courses" description="Check out our Courses, we currently have the Inside Out Programme, including Esports Athlete Training, Game Creation, and Outdoor Physical Activities" rtl={true}>
        <img src="https://images.goodsmile.info/cgm/images/product/20220720/12997/103819/large/d19d4544949cafd8bc6326578a772132.jpg" alt="">
      </Card>
    </div>
    <div class="buttons">
      <button class:selected={!showActive} on:click={() => showActive = false}>All courses</button>
      <button class:selected={showActive} on:click={() => showActive = true}>Active courses</button>
    </div>
    <div class="courses">
      {#each (showActive ? activeCourses : courses) as course}
        <Course title={course.title} backgroundImage={course.backgroundImage} url={course.url} />
      {/each}
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--background);
  }

  .cards {
    display: flex;
    margin-bottom: 2rem;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  button {
    width: 10rem;
    height: 2.3rem;
    background-color: transparent;
    color: #888;
    border: none;
    text-transform: uppercase;
    font-family: var(--alt-font);
    transition: all 0.4s;

    &:hover {
      background-color: #111;
    }

    &.selected {
      background-color: var(--accent);
      color: #111;
      transition: all 0.3s ease-out;
    }
  }
</style>