<script lang="ts">
    import Navbar from "$lib/components/Common/Navbar.svelte";
    // import AdvertBlock from "$lib/components/Tournaments/advertBlock.svelte";

    import { currentPath } from "$lib/pageHelper";
    import { allowTransparent } from "$lib/components/Common/Header.svelte";

    $currentPath = [
        {
            page: 'Tournaments'
        },
        {
            page: 'Home'
        }
    ]

    $allowTransparent = true;
</script>

<svelte:head>
    <title>Active Tournaments - Level Academy</title>
</svelte:head>

<Navbar></Navbar>
<!-- <AdvertBlock></AdvertBlock> -->
