<div class="main">
  <div></div>
  <div></div>
  <div></div>
</div>

<style lang="scss">
  .main {
    display: flex;
    margin: 30px auto 30px auto;
    width: 70%;
    gap: 10px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;

    > :first-child, > :last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      flex-grow: 1;
    }

    > :nth-child(2) {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--accent);
    }
  }
</style>