<script lang="ts">
  import Separator from "../../Common/Separator.svelte";
  import SectionHeader from "../../Common/SectionHeader.svelte";

  let selected = 0;
  let text: HTMLParagraphElement;
  let fading = false;

  const buttons: { title: string; content: string }[] = [
    {
      title: "Education",
      content:
        "Through our esports training programmes we create the same positive structures for esports that exist for traditional sports, but also take advantage of the opportunities offered by esports and digital media. Our training sessions are based on materials designed by some of the world’s most influential esports athletes. They encourage young individuals to take responsibility of their own development and carry out conscious training to improve their performance in-game and also IRL (in real life).",
    },
    {
      title: "Competition",
      content:
        "In line with our initiative to deliver high quality educational programmes we provide our students with an environment within which they can put their skills to the test/from both an athletic and professional perspective. We achieve this through the organisation and operation of regular tournaments where participants compete in an authentic true to life esports experience.",
    },
    {
      title: "Values",
      content:
        "We aim to create a platform where individuals can really come together to share experiences and develop as players and professionals in a safe and responsible environment. Responsible play is at the centre of our mission and we acknowledge the necessity of control and monitoring within the context of esports. We provide support and guidance to not only the players and their parents but also any other students or staff.",
    },
  ];

  function select(index: number): void {
    if (selected === index) {
      return;
    }
    selected = index;
    fading = true;
    text.textContent = text.textContent;
  }

  function finishTransition(): void {
    fading = false;
  }
</script>

<section id="Pillars" class="home-section">
  <div class="wrapper">
    <SectionHeader>OUR 3 PILLARS</SectionHeader>
    <Separator />
    <div class="buttons">
      {#each buttons as button, index}
        <div class:selected={index == selected}>
          <button
            on:click={() => {
              select(index);
            }}>{button.title}</button
          >
          <div class="vertical-line"></div>
        </div>
      {/each}
    </div>
    <div class="horizontal-line"></div>
    <p bind:this={text} class:fading on:animationend={finishTransition}>
      {buttons[selected]?.content}
    </p>
  </div>
</section>

<style lang="scss">
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  button {
    width: 12rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--accent);
    backdrop-filter: blur(6px);
    border: var(--accent) solid 2px;
    transition:
      background-color 0.5s,
      border-color 0.5s linear 20ms;
    opacity: 0.8;
    color: black;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;

    &:hover {
      background-color: black;
      border-color: black;
    }

    .selected & {
      background-color: transparent;
      border-color: white;
    }

    .selected &,
    &:hover {
      color: white;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  p {
    min-height: 5lh;

    &.fading {
      animation: fade-in 0.5s;
    }
  }

  $border-opacity: 0.35;

  .horizontal-line {
    border-bottom: 1px solid rgba(255, 255, 255, $border-opacity);
    width: 100%;
    height: 0;
    margin-bottom: 2rem;
  }

  .vertical-line {
    width: 0;
    height: 4rem;
    border-right: 1px solid rgba(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
    transition: border-right-color 0.5s;

    .selected & {
      border-right-color: rgba(255, 255, 255, $border-opacity);
    }
  }

  @media only screen and (width <= 800px) {
    .buttons {
      flex-direction: column;
      align-items: center;
      gap: 0;

      > * {
        margin-bottom: 2.5rem;
      }
    }

    .vertical-line {
      display: none;
    }
  }
</style>
