<script lang="ts">
  import Separator from "$lib/components/Common/Separator.svelte";
  import SectionHeader from "../../Common/SectionHeader.svelte";
</script>

<section class="iframesContainer home-section" id="AFKseries">
  <div class="wrapper">
    <SectionHeader>Going afk series - level academy</SectionHeader>
    <Separator></Separator>
    <div class="iframesGridContainer">
      <iframe
        title=""
        loading="lazy"
        src="https://www.youtube.com/embed/PewDgSE_XM0?feature=oembed"
      >
      </iframe>
      <iframe
        title=""
        loading="lazy"
        src="https://www.youtube.com/embed/DmkVtCk05sM?feature=oembed"
      >
      </iframe>
      <iframe
        title=""
        loading="lazy"
        src="https://www.youtube.com/embed/uTaafZum59E?feature=oembed"
      >
      </iframe>
      <iframe
        title=""
        loading="lazy"
        src="https://www.youtube.com/embed/QD5ywvpLye0?feature=oembed"
      >
      </iframe>
    </div>
    <Separator></Separator>
  </div>
</section>

<style>
  .iframesContainer {
    height: 100vh;
  }

  .iframesGridContainer {
    width: 100%;
    height: 100%;

    margin-top: 5vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 5vh;
  }

  .iframesGridContainer iframe {
    width: 100%;
    aspect-ratio: 16/9;
    justify-self: center;

    border: 0;
  }

  @media only screen and (width <= 800px) {
    .iframesGridContainer {
      display: flex;
      flex-direction: column;
    }
    .iframesContainer {
      height: 150vh;
      padding-top: 0;
    }
  }
</style>
