<script lang="ts">
  import '../articles.css';
  import ArticlePreview from "$lib/components/Articles/ArticlePreview.svelte";
  import { currentPath } from "$lib/pageHelper";
  import { queryAPI, encodeQuery } from '$lib/APIHelper.svelte';
  import { type ArticleBasicData } from '$lib/components/Articles/Article.svelte';
  import { onMount, tick } from 'svelte';
  import DividerBottom from '$lib/components/Common/DividerBottom.svelte';
  import Banner from '$lib/components/Common/Banner.svelte';
  import { allowTransparent } from '$lib/components/Common/Header.svelte';
  import { showDivider } from "$lib/components/Common/Footer.svelte";
  import { registerImages, blockLoading } from '$lib/components/LoadingScreen.svelte';

  $currentPath = [
    {
      page: 'Articles'
    },
    {
      page: 'Home'
    }
  ];

  $showDivider = false;
  $allowTransparent = true;
  $blockLoading = true;

  const perPage = 20;
  type DataType = { articles: ArticleBasicData[], total: number };
  let data: DataType;

  onMount(async () => {
    try {
      const response = await queryAPI('/articles', 'GET', encodeQuery({ p: 0, c: perPage }));
      data = (await response.json()) as DataType;
      await tick();
      registerImages();
    } finally {
      $blockLoading = false;
    }
  });
</script>

<Banner title="articles" />
<DividerBottom />
<div class="background">
  <div class="wrapper">
    {#if data}
      {#each data.articles as article}
        <ArticlePreview data={article} />
      {/each}
    {/if}
  </div>
</div>

<style>
  .background {
    background-color: var(--background);
  }
</style>