<script lang="ts">
  export let header: string;
  export let distinctWord: string;
  export let img: string;
  export let alt: string;
  export let content: string;
</script>

<div class="card">
  <h3 class="header">
    {header} <span class="distinctWord">{distinctWord}</span>
  </h3>
  <p class="content">
    {content}
  </p>
  <img src={img} {alt} loading="lazy" />
</div>

<style>
  .card {
    --margin: 10px;
    --padding: 20px;

    width: 25%;
    min-height: 55vh;
    height: 60%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: var(--padding);
    margin: var(--margin);

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: var(--margin);
  }
  .distinctWord {
    color: var(--accent);
  }
  .header {
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .content {
    font-size: 1em;
    line-height: 1.6;
  }

  @media only screen and (width <= 800px) {
    .card {
      width: calc(100% - calc(2 * var(--margin)) - calc(2 * var(--padding)));
    }
  }
</style>
