<script lang="ts">
  import Separator from "$lib/components/Common/Separator.svelte";
  import SectionHeader from "../../Common/SectionHeader.svelte";
  import DevelopAsPro from "$lib/images/developaspro.jpg";
  import DevelopAsPlayer from "$lib/images/developasplayer.jpg";
  import DevelopAsPerson from "$lib/images/developasperson.jpg";

  import Card from "./Card.svelte";
  const cards = [
    {
      header: "DEVELOP AS A ",
      distinctWord: "PRO",
      alt: "develop as pro",
      img: DevelopAsPro,
      content:
        "Our resources have been instrumental in developing the training programs used by the world elite. We have tailored our approach to maximize participant development, promoting physical exercise, good nutrition, and a healthy lifestyle.",
    },
    {
      header: "DEVELOP AS A ",
      distinctWord: "PLAYER",
      alt: "develop as player",
      img: DevelopAsPlayer,
      content:
        "Learning to develop as a player is a lot about learning how to strategize your own development, understand your goals and your own opportunities. We provide our participants with the tools to work autonomously, socially and engaged",
    },
    {
      header: "DEVELOP AS A ",
      distinctWord: "PERSON",
      alt: DevelopAsPerson,
      img: "https://levelacademy.com.mt/wp-content/uploads/2022/04/pro-300x300.jpg",
      content:
        "Mentoring is one of our strongest tools. We have well-known esports profiles that create role models and drive positive values and actions. We work actively to promote diversity and inclusion and counteract sexism, racism and bullying.",
    },
  ];
</script>

<section id="whatWeDo" class="home-section">
  <div class="wrapper">
    <SectionHeader>WHAT WE DO</SectionHeader>
    <Separator></Separator>

    <div class="cardWrapper">
      {#each cards as card}
        <Card {...card}></Card>
      {/each}
    </div>
  </div>
</section>

<style>
  #whatWeDo {
    background-color: var(--background);
  }
  
  .cardWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  @media only screen and (width <= 800px) {
    #whatWeDo {
      width: 100vw;
      height: fit-content;
      justify-content: center;
      padding-bottom: var(--sectionPadding);
      box-sizing: content-box;
      padding-top: 0;
    }
    .cardWrapper {
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
