<script lang="ts">
  import Article from "$lib/components/Articles/Article.svelte";
  import { page } from "$app/stores";
  import { onMount, tick } from "svelte";
  import { FetchError, encodeQuery, queryAPI } from "$lib/APIHelper.svelte";
  import { type ArticleData } from "$lib/components/Articles/Article.svelte";
  import { currentPath } from "$lib/pageHelper";
  import '../articles.css';
  import Banner from "$lib/components/Common/Banner.svelte";
  import { allowTransparent } from "$lib/components/Common/Header.svelte";
  import DividerBottom from "$lib/components/Common/DividerBottom.svelte";
  import { showDivider } from "$lib/components/Common/Footer.svelte";
  import { registerImages, blockLoading } from "$lib/components/LoadingScreen.svelte";

  $currentPath = [
    {
      page: 'Article'
    },
    {
      page: 'Articles'
    },
    {
      page: 'Home'
    }
  ];

  $allowTransparent = true;
  $showDivider = false;
  $blockLoading = true;
  
  let valid = false;
  let data: ArticleData;

  onMount(async () => {
    try {
      const response = await queryAPI('/article', 'GET', encodeQuery({ id: $page.url.searchParams.get('id') }));
      data = (await response.json()) as ArticleData;
      valid = true;
      currentPath.update(value => {
        value[0].alias = data.title;
        return value;
      });
      await tick();
      registerImages();
    } finally {
      $blockLoading = false;
    }
  });
</script>

<Banner title="Level Academy news" />
{#if valid}
  <DividerBottom />
  <Article data={data}/>
{/if}

<!-- TODO: Add 404 page, images, subtitles -->
