<script lang="ts" context="module">
  import { writable, derived, get } from "svelte/store";

  const imagesLoaded = new Array<string>();
  const resourceCount = writable(0);
  const resourcesLoaded = writable(0);
  const progress = derived([resourceCount, resourcesLoaded], values => {
    if (get(blockLoading)) {
      return 0;
    } else if (values[0] === 0) {
      return 1;
    } else {
      return values[1] / values[0];
    }
  });

  export const blockLoading = writable(false);

  export function startResourceLoad(): void {
    resourceCount.update(value => value + 1);
  }

  export function finishResourceLoad(): void {
    resourcesLoaded.update(value => value + 1);
  }

  export function registerImages(): void {
    for (const image of document.images) {
      if (!image.complete && !imagesLoaded.find(value => value == image.src)) {
        imagesLoaded.push(image.src);
        const img = new Image();
        img.src = image.src;
        startResourceLoad();
        img.onload = finishResourceLoad;
        img.onerror = finishResourceLoad;
        img.onabort = finishResourceLoad;
      }
    }
  }
</script>

<script lang="ts">
  import { onMount } from "svelte";

  let div: HTMLDivElement;

  onMount(() => {
    registerImages();
  });
</script>

<div bind:this={div} class="main" class:fade={$progress >= 1} on:animationend={() => div.style.display = 'none'}>
  <div class="text">
    {Math.round($progress * 100)}%
    <div class="bar" style={`width: ${$progress * 100}%`}></div>
  </div>
</div>

<style>
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .main {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fade {
    animation: fade-out 0.6s 0.4s ease-in forwards;
  }

  .text {
    color: rgba(255, 255, 255, 0.1);
    font-size: 6rem;
    position: relative;
    min-width: 500px;
    text-align: center;
    font-family: sans-serif;
  }

  .bar {
    transition: width 0.5s;
    background-color: var(--accent);
    height: 3px;
    position: absolute;
    top: 0.5lh;
  }
</style>