<script lang="ts">
  let hidden = true;

  function onScroll(): void { 
    hidden = window.scrollY < window.innerHeight / 2;
  }

  function scrollToTop(): void {
    window.scrollTo({top: 0, behavior: 'smooth'});
  }
</script>

<svelte:window on:scroll={onScroll} />

<button on:click={scrollToTop} class:hidden={hidden}><i class="fa-solid fa-arrow-up"></i></button>

<style lang="scss">
    button {
        width: 2rem;
        height: 2rem;
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        background-color: var(--accent);
        border: none;
        border-radius: 10%;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.25s;

        &:hover {
            background-color: black;
            color: white;
        }

        &.hidden {
          opacity: 0;
        }
    }
</style>